.form-achievments {
  display: grid;
  width: 100%;
  min-height: 604px;
  grid-template-rows: minmax(604px, max-content);
  font-weight: 400;
  font-size: 18px;
  color: $main-text;
  border: none;
  background-color: $blocks-background;

  @media (min-width: $tablet-width) {
    width: calc(100% - 4px);
    margin-bottom: 70px;
    min-height: 550px;
    grid-template-rows: minmax(550px, max-content);
    order: 4;
    border: 2px solid $page-background;
    border-radius: 2px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    grid-column: span 2;
    min-height: 228px;
    height: 228px;
    grid-template-rows: auto;
    & legend {
      grid-column: span 3;
    }
  }
}

.form-achievments__wrapper {
  display: grid;
  margin: 0 20px;
  justify-items: left;
  align-self: center;
  grid-template-rows: 112px repeat(6, 82px);
  align-items: start;

  @media (min-width: $tablet-width) {
    margin: 0 62px;
    grid-template-rows: min-content repeat(6, 82px);
    align-items: center;
    & legend {
      margin-top: -41px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto auto;
    grid-template-rows: min-content repeat(2, 82px);
    justify-content: space-between;
  }
}

.form-achievments__shark {

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.form-achievments__norris {

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.form-achievments__tower {

  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.form-achievments__beach {

  @media (min-width: $desktop-width) {
    order: 4;
  }
}

.form-achievments__souvenirs {

  @media (min-width: $desktop-width) {
    order: 5;
  }
}

.form-achievments__hotel {

  @media (min-width: $desktop-width) {
    order: 6;
  }
}

.form-achievments__checkbox + label {
  position: relative;
  padding-left: 57px;
  margin-top: 10px;
  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid $page-background;
    border-radius: 2px;
  }
  &:hover::before {
    border: 2px solid $main-text;

    @media (hover: none) and (pointer: coarse) {
      border: 2px solid $page-background;
    }
  }
  &:active::before {
    border: 2px solid $firm-text;
  }
}

.form-achievments__checkbox:checked + label {
  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 8px;
    width: 22px;
    height: 16px;
    background-image: url(../../img/tick.svg);
  }
}

.form-achievments__br {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}
