/* Colors */
$menu-text: #ffffff;
$title-text: #000000;
$main-text: #283645;
$firm-text: #D22856;
$false-sign: #F25B26;
$true-sign: #3DC644;
$form-button: #2AAB6D;
$form-button-focus: #1C9B5E;
$menu-background: #283645;
$blocks-background: #F2F2F2;
$page-background: #E5E5E5;
$diagram-outer: #DEDEDE;

/* Breakpoints */
$mobile-width-only: 659px;
$tablet-width: 660px;
$desktop-width: 1200px;

/* GLOBAL */
$review-height: 0;
